.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  overflow: hidden;
  gap: 2rem;
  background-color: rgba(0, 0, 0, 0.55);
  border-radius: 10px;
  margin-top: 50px;
}

.title-container {
  padding: 2rem 4rem;
  text-align: center;
}

h1 {
  font-family: 'CustomFont', sans-serif;
  font-size: 150px;
  color: #ebe5ff;
  margin: 0;
}

.quiz-container {
  text-align: center;
}

.quiz-button {
  font-size: 1.5rem;
  padding: 1rem 3rem;
  background-color: #6366f1;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
}

.quiz-button:hover {
  background-color: #4f46e5;
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.quiz-button:active {
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
